<%- include('includes/headerNaoLogado') %>
<%- include('includes/nav') %> 
    <section class="container">
        <div id="container-home"> 
            <div id="home">
                <h1><blue>Aproveite</blue> seu lugar <br/><blue>Ideal</blue></h1>
                <form action="/home/search/index" id="form-search" method="GET">
                    <div class="barra-pesquisa">
                        <input type="text" name="searchData" placeholder="Pesquise aqui..." />
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>    
    </section>

    <section class="catalogo-container" id="catalogo">
        <div class="barra-pesquisa-container">
            <form action="/home/search/index" id="form-search" method="GET">
                <div class="barra-pesquisa">
                    <input type="text" name="searchData" placeholder="Pesquise aqui..." />
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="secao-catalogo">
            <h1>Principais</h1>
            <div class="scroll-horizontal">
                <% if (livros.length > 0) { %>
                    <% livros.forEach(livro => { %>
                        <a href="/home/leitura/<%= livro.id_livro %>" class="link">
                            <div class="item-catalogo">
                            <div class="imagem"><img src="http://localhost:3002/livros/<%= livro.id_livro %>/capa" alt="Capa do livro" /></div>
                            <h2><%=livro.titulo%></h2>
                            </div>
                        </a>
                    <% }) %>
                <% } else { %>
                    <p>Nenhum livro encontrado.</p>
                <% } %>
            </div>
        </div>

        <div class="secao-catalogo">
            <h1>Ação</h1>
            <div class="scroll-horizontal">
                <% if (acao.length > 0) { %>
                    <% acao.forEach(livro => { %>
                        <a href="/home/leitura/<%= livro.id_livro %>" class="link">
                            <div class="item-catalogo">
                            <div class="imagem"><img src="http://localhost:3002/livros/<%= livro.id_livro %>/capa" alt="Capa do livro" /></div>
                            <h2><%=livro.titulo%></h2>
                            </div>
                        </a>
                    <% }) %>
                <% } else { %>
                    <p>Nenhum livro encontrado.</p>
                <% } %>
            </div>
        </div>

        <div class="secao-catalogo">
            <h1>Sua Biblioteca</h1>
            <div class="scroll-horizontal">
                <% if (favoritos.length > 0) { %>
                    <% favoritos.forEach(livro => { %>
                        <a href="/home/leitura/<%= livro.id_livro %>" class="link">
                            <div class="item-catalogo">
                            <div class="imagem"><img src="http://localhost:3002/livros/<%= livro.id_livro %>/capa" alt="Capa do livro" /></div>
                            <h2><%=livro.titulo%></h2>
                            </div>
                        </a>
                    <% }) %>
                <% } else { %>
                    <p>Nenhum livro encontrado.</p>
                <% } %>
            </div>
        </div>
    </section>
<%- include('includes/footerComContato') %>