<%- include('includes/headerNaoLogado') %>
<%- include('includes/nav') %> 
    <section class="containerIU container">   
        <div class="titulo-IU">
            <h1>Pagar com <blue>Boleto</blue></h1>
        </div>
        <form class="container-IU" action="http://localhost:3000<%=url%>" method="POST">
            <label for="nome"><h2>Nome completo:</h2></label>
            <input type="text" class="inputs-IU" name="nome" placeholder="Digite seu nome" required>

            <label for="telefone"><h2>E-mail:</h2></label>
            <input type="text" class="inputs-IU" name="email" placeholder="Digite seu Telefone" required>

            <label for="endereço"><h2>Endereço:</h2></label>
            <input type="text" class="inputs-IU" name="endereco" placeholder="Digite seu Endereço" required> 
        
            <label for="nome"><h2>CEP:</h2></label>
            <input type="text" class="inputs-IU" name="cep" placeholder="Digite seu nome" required>
        
        
            <label for="telefone"><h2>CPF/CNPJ</h2></label>
            <input type="text" class="inputs-IU" name="cpf" placeholder="Digite seu Telefone" required>
        
        
            <%- include('includes/messagesError') %>
            <%- include('includes/messagesSuccess') %>

            <button type="submit" class="botao">PAGAR</button>
        </form>
    </section>
<%- include('includes/footerSemContato')%>