<%- include('includes/headerNaoLogado') %>
<%- include('includes/nav') %> 
    <section>
        <h1>Pagar com PIX</h1>
        <form class="formPagamento" action="http://localhost:3000/pagamento/pix/pix" method="POST">
            <div class="cadastroFormulario">
                <label for="nome">Nome completo:</label>
                <input type="text" name="nome" placeholder="Digite seu nome" required>
            </div>

            <div class="cadastroFormulario">
                <label for="telefone">CPF:</label>
                <input type="text" name="cpf" placeholder="Digite seu Telefone" required>
            </div>

            <%- include('includes/messagesError') %>
            <%- include('includes/messagesSuccess') %>

            <button type="submit" style="align-self: center;" class="botao">PAGAR</button>
        </form>
    </section>
<%- include('includes/footerSemContato')%>
