<%- include('includes/headerNaoLogado') %>
<%- include('includes/nav') %> 
    <section class="containerIU container">
        <div class="titulo-IU">
            <h1>Pagar com PIX</h1>
        </div>
        <form class="container-IU" action="http://localhost:3000/pagamento/pix/leitor/pix" method="POST">
            
            <label for="nome"> <h2>Nome completo:</h2></label>
            <input type="text" class="inputs-IU" name="nome" placeholder="Digite seu nome" required>
            
            <label for="telefone"><h2>CPF:</h2></label>
            <input type="text" class="inputs-IU" name="cpf" placeholder="Digite seu Telefone" required>

            <%- include('includes/messagesError') %>
            <%- include('includes/messagesSuccess') %>

            <button type="submit" style="align-self: center;" class="botao">PAGAR</button>
        </form>
    </section>
<%- include('includes/footerSemContato')%>
